.needle {
	max-width: 150px;
	margin-top: -40px;
	transform-origin: 90px 75px;
	z-index: 85;
	transform: rotate(0deg);
}
.stand {
	position: relative;
	width: 100%;

	img {
		position: absolute;
		&:last-child {
			transform: scale(0.9);
		}
	}

	.record {
	}
}

.iamge {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.rotate {
	transform-origin: 50% 50%;
	transform: rotate(0deg);
}

.content {
	display: flex;
}

.pleer {
	flex: 80%;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	height: 500px;
}
