.menu {
	.button {
		&.active {
			span {
				// &:nth-child(1) {
				// 	transform-origin: 0;
				// 	transform: rotate(45deg);
				// }
				// &:nth-child(2) {
				// 	transform: rotate(-45deg);
				// }
				// &:nth-child(3) {
				// 	transform-origin: 0;
				// 	transform: rotate(-45deg);
				// }
			}
		}

		width: 100px;
		height: 100px;
		position: fixed;
		top: -33px;
		left: -33px;
		border-radius: 50%;
		background-color: #afffde;
		border: none;
		cursor: pointer;
		z-index: 901;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		span {
			&:first-child {
				margin-top: 25px;
			}
			display: block;
			width: 34px;
			height: 4px;
			border-radius: 30px;
			margin: 0 0 8px 20px;
			background-color: #3f3f3f;
		}
	}

	.items {
		background-color: #afffde;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-radius: 0 0 900px 0;
		position: fixed;
		display: flex;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		align-items: center;
		transition: width, height, 0.4s;
		justify-content: space-around;
		z-index: 900;
		flex-wrap: wrap;
		padding-top: 30px;

		&.menuOpen {
			width: 100%;
			height: 96%;
			border-radius: 0;

			.button {
				background: none;
			}

			opacity: 1;
			visibility: visible;
			.link {
				display: flex;
			}
		}
	}

	.item {
		margin: 10px 10px 10px 10px;
	}

	.link {
		width: 250px;
		height: 250px;
		cursor: pointer;
		background-color: #444;
		animation-duration: 3s;
		animation-name: itemAnimate;
		display: none;
		border-radius: 30px;
		z-index: 1001;
		overflow: hidden;
		align-items: center;
		flex-direction: column;
		color: #fff;

		&:hover {
			img {
				transform: scale(1.05);
			}
		}

		img {
			transition: transform 0.2s;
			margin: 20px 0 25px 0px;
			width: 50%;
			height: 50%;
			object-fit: contain;
		}
	}
}

@keyframes itemAnimate {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
