.logo {
	display: block;
	margin: 30px auto;
}

.persons {
	padding-top: 20px;
	.person {
		span {
			font-size: 20px;
			color: #ff5555;
		}

		a {
			text-decoration: underline;
		}
	}
}

.tools {
	margin: 20px 0;
	span {
		font-size: 20px;
		font-weight: 600;
		margin: 0 10px;
	}
}

.native {
	display: flex;
	align-items: center;
}

.title {
	margin-top: 25px;
	color: #ff5555;
}

.tool {
	max-width: 50px;
	max-height: 50px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.maynStack {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.dopLibrarys {
	margin-top: 25px;

	a {
		margin-top: 10px;
		display: inline-block;
		text-decoration: underline;
	}
}

.dopToolsTitle {
	margin-top: 25px;
	color: #ff5555;
}

.dopTools {
	margin-top: 13px;
	display: flex;
	align-items: center;
}

.git {
	max-width: 80px;
	max-height: 80px;
}

.list {
	margin-bottom: 70px;
	list-style: circle;

	li {
		margin-bottom: 10px;
	}
}
