$black: #292929;
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #ffffff;
	color: $black;
}

a {
	text-decoration: none;
	text-transform: none;
	color: inherit;
}

html {
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: #292929 #9ce1c4;
}
ul {
	list-style: none;
}
